language: python
python:
  - "3.7.1"

services:
  - redis-server

install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov

# command to run tests
script:
  - pytest --cov=app/
  - coveralls

after_success:
  bash <(curl -s https://codecov.io/bash)